@import url("reset.css");

@import url("fonts.css");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: linear-gradient(120deg, #1f2a24, #3c4a3f);
  color: #ba936f;
}

header {
  padding-top: 50px;
}

h1 {
  font-family: "Praysire Demo", sans-serif;
  font-weight: 400;
  font-size: 40px;
  cursor: default;
}

h2 {
  font-size: 36px;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 35px;
  font-size: 20px;
  text-transform: uppercase;
}

a:hover {
  color: #fff;
  transition: 0.7s;
  scale: 1.2;
}

.button {
  background: #ba936f;
  border-radius: 15px;
  width: 166px;
  height: 42px;
}

.main-header > div {
  display: inline-block;
}

.button {
  float: right;
}

.button a {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 11px 47px;
}

.button:hover {
  color: #fff;
  transition: 0.7s;
  cursor: pointer;
}

.main-header {
  overflow: hidden;
  margin-bottom: 40px;
}

/* main-block */

.content {
  padding: 100px 50px;
}

.container {
  margin-bottom: 50px;
}
.right-arrow {
  color: black;
}

.circle-text {
  margin-left: -40px;
}

.content-box {
  margin-bottom: 30px;
}

.yoga_content {
  margin-bottom: 15px;
}

.yoga {
  border-radius: 33px;
}

#main_img {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}

.content > .container:last-of-type {
  margin: 0 auto;
  font-size: 0px;
}

.content-box-yoga {
  display: inline-block;
  width: 33.3333%;
  vertical-align: top;
  margin-bottom: 30px;
}

.some-text {
  font-size: 16px;
}
