@import url("reset.css");

header {
  margin-bottom: 150px;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: rgb(88, 88, 88);
  border: 4px solid rgba(107, 106, 106, 0.39);
  max-width: 1280px;
  margin: 0 auto;
  background: #eeaeca;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.bc-image {
  background-image: url("../img/Rectangle.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-block {
  max-width: 1392px;
  margin: 0 auto;
  padding: 114px 0px 110px 0px;
}

.hero-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: rgba(47, 48, 44, 1);
  max-width: 650px;
  margin-left: auto;
}

.hero-p {
  margin: 0px 0px 20px 5px;
}

.furniture {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 96px;
  line-height: 1.04;
  margin-bottom: 16px;
}

.gallery {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 104%;
}

.text-line {
  border: 1px solid #000;
  width: 308px;
  height: 0px;
  margin: 0px 594px 36px 10px;
}

.hero-grey-p {
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(126, 127, 124, 1);
  margin: 0px 269px 0px 0px;
}

/* Друга частина ДЗ */
.bc-pricing {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  background: linear-gradient(to bottom, #1b2745 62%, #ffffff 38%) center/cover no-repeat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  max-width: 1920px;
  height: 1070px;
}

.pricing-block {
  padding: 0px 172px 0px 199px;
}

.pricing-header {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0em;
  margin: 110px 0px 25px 0px;
}

.pricing-p {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto 92px auto;
  color: white;
  max-width: 507px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  text-align: center;
}

/* Таблиця тарифів */

.plan-section {
  max-width: 1070px;
  margin: 0 auto;
  font-size: 0;
}

.plan-card {
  display: inline-block;
  border-radius: 8px;
  padding: 40px;
  width: 351px;
  height: 590px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  margin-right: 8px;
}

.plan-card:last-child {
  margin-right: 0;
}

.header-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(47, 48, 44, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 17px;
}

.subscription {
  margin-bottom: 17px;
  font-size: 0;
}

.price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(37, 43, 66, 1);
  margin-right: 16px;
}

.price,
.price-info {
  display: inline-block;
}

.month {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(37, 43, 66, 1);
}

.discount,
.plan-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: rgba(115, 115, 115, 1);
}

.line-blue {
  width: 47px;
  height: 4px;
  background: rgba(49, 160, 254, 1);
  margin-bottom: 17px;
}

.plan-text {
  margin-bottom: 17px;
}

/* Оформлення списку */

.list-box {
  padding: 16px 0px;
}

.list-item,
.list-item-grey {
  background: url("../img/check.svg") 0 0 no-repeat;
  min-height: 32px;
  margin-bottom: 15px;
  padding: 4px 0px 4px 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(37, 43, 66, 1);
}

.list-item-grey {
  background: url("../img/check_grey.svg") 0 0 no-repeat;
}

.button-box {
  border: 1px solid #000;
  border-radius: 24px;
  width: 271px;
  height: 40px;
  padding: 6px 24px;
  text-align: center;
}

.plan-button {
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.01em;
  color: rgba(37, 43, 66, 1);
}
