/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "montserrat", sans-serif;
	font-weight: 600;
	font-size: 16px;
}

header {
	margin-bottom: 72px;
}

.main_header {
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: rgb(88, 88, 88);
	border: 4px solid rgba(107, 106, 106, 0.39);
	max-width: 1280px;
	margin: 0 auto;
	background: #eeaeca;
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.pracitc {
	max-width: 1280px;
	margin: 0 auto;
	border: 10px double #311919a6;
	box-shadow: 5px 5px 10px 10px rgb(235, 111, 111);
	margin-bottom: 90px;
}

.pracitc > div {
	margin-bottom: 20px;
}

.topic-header {
	font-size: 30px;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}
.outline {
	background-color: blueviolet;
	outline: 1.5px solid yellow;
	padding: 50px;
}

.border-radius {
	background-color: aquamarine;
	border-radius: 12% 88% 8% 92% / 90% 10% 90% 10%;
	border: 2px solid grey;
	padding: 10px;
}

.opacity {
	opacity: 0.3;
}

.bc-image {
	background-image: url("../img/ff.jpg");
}

.bc-repeat {
	background-image: url("../img/psycho.png");
	height: 230px;
}

.bc-position {
	background-image: url("../img/psycho.png");
	background-repeat: no-repeat;
	height: 230px;
	background-position: center;
}

.bc-att {
	height: 500px;
	background-image: url("../img/pika.jpg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
}

.bc-clip {
	background-image: url("../img/backgroundtwo.jpg");
	height: 500px;
	border: 10px dashed rgb(0, 0, 0);
	background-clip: text;
	color: transparent;
}

.background {
	height: 500px;
	background:
		url("../img/psycho.png") center / 100px no-repeat,
		url("../img/ff.jpg") 0 0 / 160px no-repeat,
		radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.arrows div {
	display: inline-block;
	margin: 0px 105.9px 0px 105.9px;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid yellow;
	border-bottom: 50px solid transparent;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid yellow;
	border-bottom: 50px solid transparent;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid yellow;
}

.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid yellow;
}

span {
	text-decoration: underline;
	color: #740000;
}

.nav-button a {
	font-size: 16px;
	vertical-align: bottom;
	padding-top: 48px;
}

.nav-button {
	display: inline-block;
	background-color: blueviolet;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 5px 0px 0px #000;
}

.nav-button:hover {
	top: 3px;
	box-shadow: 0 2px 0px 0px #000;
}

.button {
	padding: 10px;
}

.link {
	font-size: 36px;
	text-align: center;
}

.link a {
	border: 2px solid #000;
	padding: 5px;
}
